@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0 10rem;
}

.header .textHeader h1{
    font-size: 5rem;
    color: #2b2d42;
}

.header .textHeader p{
    font-size: 2rem;
    width: 40rem;
    margin-top: -5rem;
    color: #023047;
}

.header .hdImage{
    position: absolute;
    display: flex;
    right: 0;
    padding: 0 10rem;
    z-index: -1;
    border-bottom-left-radius: 20px;
}

.header .hdImage img{
    width: auto;
    height: 25rem;
    transform: scaleX(-1) rotate(10deg);
}

.checkBttn{
    text-decoration: none;
    color: white;
    background-color: #0C0C0C;
    padding: 10px;
    border-radius: 10px;
}

/*Maine serction*/

.main{
    margin-top: 10rem;
    text-align: center;
    align-items: center;
    color: #2b2d42;
}

.main .mainDisc h1{
    font-size: 3rem;
}

.main .mainDisc span{
    color: #FF6452;
}

/*About Section*/

.about{
    margin-top: 5rem;
}

.about .aboutUs {
    position: absolute;
    padding: 0 5rem;
    right: 0;
}

.about .aboutUs span{
    color: #FF6452;
}

.about .aboutUs p{
    font-size: 2rem;
}

.about .aboutUs h1{
    font-size: 3.5rem;
    height: auto;
    width: 50rem;
    margin-top: -2rem;
}

.about .aboutImg{
    background-color: black;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    margin-left: 10rem;
}

.aboutCard{
    position: relative;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}

.aboutCard p{
    width: 200px;
}

.about img{
    height: 400px;
    width: auto;
    transform: rotate(10deg);
}