@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.container{
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0 10rem;
}

.header .textHeader h1{
    font-size: 5rem;
    color: #2b2d42;
}

.header .textHeader span{
    color: #FF6452;
}

.header .textHeader p{
    font-size: 2rem;
    width: 40rem;
    margin-top: -5rem;
    color: #023047;
}

.header .hdImage{
    position: absolute;
    display: flex;
    right: 0;
    padding: 0 10rem;
    z-index: -1;
    border-bottom-left-radius: 20px;
}

.header .hdImage img{
    width: auto;
    height: 25rem;
    transform: scaleX(-1) rotate(10deg);
}

.checkBttn{
    background: #fbca1f;
    padding: 0.6em 1.3em;
    font-family: inherit;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.checkBttn:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.checkBttn:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

/*Maine serction*/

.main{
    margin-top: 12rem;
    text-align: center;
    align-items: center;
    color: #2b2d42;
}

.main .mainDisc h1{
    font-size: 3rem;
}

.main .mainDisc span{
    color: #FF6452;
}

/*About Section*/

.about{
    margin-top: 12rem;
}

.about .aboutUs {
    position: absolute;
    padding: 0 5rem;
    right: 0;
    margin-top: -3rem;
}

.about .aboutUs span{
    color: #FF6452;
}

.about .aboutUs p{
    font-size: 2rem;
}

.about .aboutUs .aboutDesc{
    width: 600px;
    font-size: 1.5rem;
}

.about .aboutUs h1{
    font-size: 3.5rem;
    height: auto;
    width: 50rem;
    margin-top: -2rem;
    line-height: 4rem;
}

.about .aboutImg{
    background-color: black;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    margin-left: 10rem;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.aboutCard{
    position: absolute;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: 20rem;
    margin-top: -5rem;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.aboutCard h1{
    color: white;
}

.aboutCard p{
    width: 200px;
    font-weight: 500;
    margin-top: -20px;
}

.about img{
    height: 400px;
    width: auto;
    transform: rotate(10deg);
    -webkit-filter: drop-shadow(500px 500px 500px #222);
    filter: drop-shadow(0px 10px 5px #222);
}

/*Customer Review Section*/

.review{
    margin-top: 12rem;
}

.review h1{
    font-size: 3.5rem;
    text-align: center;
}
.review span{
    color: #FF6452;
}

.review .csReview{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/*Newsletter section*/

/* From Uiverse.io by alexruix */ 

.newsletter{
    font-family: 'Poppins';
    padding: 0 10rem;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.newsletter .newletter{
    display: flex;
}

.newsletter .newletter h1{
    width: 500px;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 10rem;
}

.newsletter .newletter h1 span{
    color: #FF6452;
}

.nwlteer {
    margin-left: 5rem;
    width: 240px;
    height: 254px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fbca1f;
    padding: 0.6em 1.3em;
    font-weight: 900;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em;
    text-decoration: none;
    color: black;
  }
  
  .nwlteer > * {
    margin: 0;
  }
  
  .nwlteer__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
  }
  
  .nwlteer__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .nwlteer__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .nwlteer__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .nwlteer__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 
  